@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-100 text-slate-800 transition-colors duration-200 antialiased;
  }
  .dark body {
    @apply bg-slate-900 text-slate-200;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom Scrollbar for columns */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}
